<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <thead>
      <tr>
        <th>Product Count </th>
        <th><%= @products%> </th>
      </tr>
      <tr>
        <th>Category Count </th>
        <th><%=@category%></th>
      </tr>
    </thead>
</table>